extends layout

block content
    //- .row
    //-     .large-12.column.profile
    //-         img(src="#{page.metadata.image.src}", style="width:100%;height:100%", width="100%", height="100%")

    .row
        //- .large-12.column.content(style="position:absolute;top:0;left:0;bottom:0;right:0")
        .large-12.column.content(style="position:relative;min-height:100%")
            h1 #{page.metadata.title}
            h2 #{page.metadata.caption}
            //- .intro.notice(style="position:relative;padding-bottom:100px")
            .intro.notice
                != typogr(page.html).typogrify()

    .row
        //- .medium-12.large-9.column(style="position:fixed;bottom:0;background-color:#FFF;max-height:100px")
        .large-12.column
            .bottom
                hr
                //- icon set:
                //- https://dribbble.com/shots/1074961-Flat-Icons-EPS
                ul.large-block-grid-10.medium-block-grid-5.small-block-grid-5
                    li: a(href="http://linkedin.com/in/jessefulton"): img(src="/media/images/icons/linkedin.png")
                    li: a(href="https://github.com/jessefulton"): img(src="/media/images/icons/github3.png")
                    li: a(href="https://delicious.com/jfulton"): img(src="/media/images/icons/delicious.png")
                    li: a(href="http://instagram.com/theswa"): img(src="/media/images/icons/instagram.png")
                    li: a(href="https://vimeo.com/jessefulton"): img(src="/media/images/icons/vimeo.png")
                    li: a(href="http://www.flickr.com/photos/jessefulton"): img(src="/media/images/icons/flickr.png")
                    li: a(href="http://www.google.com/recaptcha/mailhide/d?k=01aYxFPWtuAKCOp9PE2ZwnuA==&amp;c=tffQd1_HmEeNZW9FtjAzBum7SyX5nK-FMswbWQEQBh8=", onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501aYxFPWtuAKCOp9PE2ZwnuA\75\75\46c\75tffQd1_HmEeNZW9FtjAzBum7SyX5nK-FMswbWQEQBh8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"): img(src="/media/images/icons/email2.png")
                    li: a(href="https://twitter.com/jessefulton"): img(src="/media/images/icons/twitter.png")
                    li: a(href="http://blog.jessefulton.com"): img(src="/media/images/icons/tumblr.png")
                    li: a(title="Jesse Fulton's Resume", href="/media/resume/jessefulton-resume.pdf", data-pjax="no"): img(src="/media/images/icons/resume.png", alt="Download Jesse Fulton's Resume")
