extends layout


block content
    .content.row
        .index-intro
            h1.name My name is Jesse
            p.stuff
                a(href="/thesis/", title="DANM MFA Thesis") I just got my MFA
            p.site(style="letter-spacing:-2px") I've done other stuff too
            p.awesome
                a(href="/portfolio/") Check it out
        

block append footer
  mixin tool(name, url)
    a(href=url)= name

