<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

head
    block head
        meta(charset='utf-8')
        meta(name="description", content=locals.description)
        meta(name="author", content=locals.owner)
        meta(name="viewport", content="width=device-width")

        title
            block title
                = locals.title

        link(rel="icon", type="image/x-icon", href="/favicon.ico")
        
       
        // 
            | Site last generated on the 
            = moment().format('Do [of] MMMM, YYYY.')

            
        // link(rel='stylesheet', href='/styles/main.css')
        //link(rel='stylesheet', href='/styles/foundation.css')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/foundation/4.3.1/css/foundation.min.css')
        
        //- TODO: remove unused fonts...
        
        link(rel='stylesheet', type='text/css' href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Quattrocento+Sans:400,400italic,700,700italic')
        
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic')
        
        script(type="text/javascript", src="/scripts/vendor/custom.modernizr.js")
        script(src="http://processingjs.org/js/processing.min.js")
            
        style.
            html, body {
                font-family: 'Quattrocento Sans', sans-serif;
                //font-family: 'Arvo', serif;
                font-family: 'Josefin Slab', serif;
                height: 100%;
            }
            a,
            .side-nav li a {
                //color:#2ba6cb;
                color:#000;
                text-decoration:none;
                line-height:inherit;
                font-weight: 700;
            }
            a:hover, a:focus {
                color: #000;
                text-decoration: underline;
            }

            h1, h2 {
                font-family: 'Arvo', serif;
            }
            h3, h4, h5, h6 {
                font-family: 'Ubuntu', sans-serif;
            }
            #canvas-container{
                width:100%;
                height:100%;
                overflow:hidden;
                position:fixed;
                top:0;left:0;
                bottom:100%;
                right:100%;
                z-index:-1;
            }
            .panel {
                background-color:rgba(255,255,255,0.7);
                padding-top:0;
                padding-bottom:0;
            }
            #wrapper {
                width: 100%;
                text-align:left;
                margin-top: 2em;
                min-height: 100%;
                //margin-bottom: -24em;
                transition: all 1s ease-out;
            }
            .side-nav li {
                font-size: 1.25em;
            }
    
            footer {
                background-color: #222222;
                color: #ddd;
                //height: 24em;
            }
            
            footer, .push { clear: both; }

            footer h1, footer h2, footer h3, footer h4 {
                color: #ddd;
            }
            
            footer p {
                font-family: 'Ubuntu', sans-serif;
                font-size: .9em;
            }
            #main {
                padding: .9375em;
                background-color: rgba(255, 255, 255, 0.75);
                border: 1px solid #f6f6f6;
                //border: 1px solid #dcdcdc;
                -moz-border-radius: 3px;
                -khtml-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
            }
        
- var bodyClass = page.metadata.bodyClass || "";
block localVars

body(class="#{bodyClass}")

    #wrapper
    
        div#canvas-container
            canvas(width="100%", height="100%", id="static-canvas", style="width:90%;height:100%;", data-processing-sources="/scripts/static.pde")
    
    
        .row(style="margin-left:0;")
            #nav.large-3.columns
                ul.side-nav
                    li.active: a(href="/portfolio/", data-pjax) Work
                    // li: a(href="/contact/", data-pjax) Contact
                    li: a(href="http://www.google.com/recaptcha/mailhide/d?k=01aYxFPWtuAKCOp9PE2ZwnuA==&amp;c=tffQd1_HmEeNZW9FtjAzBum7SyX5nK-FMswbWQEQBh8=", onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501aYxFPWtuAKCOp9PE2ZwnuA\75\75\46c\75tffQd1_HmEeNZW9FtjAzBum7SyX5nK-FMswbWQEQBh8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;") Contact
                    // li.divider
                    li: a(href="/thesis/", data-pjax="no", title="DANM MFA Thesis") MFA Thesis

    
            #main.large-9.columns
                block content
                    p There's no content yet...
    
        //-
            header(id="tabs")
                ul.navigation
                    li(id="menu-portfolio")
                        a(href="/portfolio/")
                            span Work
                    li(id="menu-blog")
                        a(href="http://blog.jessefulton.com/")
                            span Blog
                    li(id="menu-contact")
                        a(href="/contact/")
                            span Contact
                div(id="headerlogo")
                    a(href="/")
                        span Home


            #main
                block content
                    p There's no content yet...
        .push
            
    footer.footer
        .row(style="margin-left:0;")
            .large-4.large-offset-3.columns
                h3 About
                p(style='text-align:justify').
                    I am a Creative Technologist in the purest sense. I have 10+ years of software development experience as well as having exhibited and performed as an artist. I have a very technical background but apply it to creative pursuits including physical computing, projection, and experiential design.
                p.
                    Check out my CV or my profile on LinkedIn.
            .large-3.columns
                h3 Contact
                p(style='text-align:justify').
                    My interests are extremely diverse and I am currently looking for an environment which is mentally challenging, artistically stimulating, and open & collaborative. I am currently based out of Los Angeles, but am open to travel and relocation. 
                p.
                    I am currently available for freelance and consulting opportunities.
            .large-2.columns
                p(style="text-align:right")
                    img(src="/styles/images/name-pixels-com.png", width="126px", height="268px")
                
    block scripts

        //
            script.
                document.write('<script src=' +
                ('__proto__' in {} ? '/scripts/vendor/zepto' : '/scripts/vendor/jquery') +
                '.js><\/script>')
        
        script(src="/scripts/vendor/jquery.js")
        
        //script(src="/scripts/foundation.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.3.1/js/foundation.min.js")

        script.
            $(document).foundation();
            
        script.
            $(function() {
                // TODO: this should only be called at the end of a resize
                $(window).resize(function() {
                    console.log("resizing");
                    var pjs = Processing.getInstanceById('static-canvas');
                    if (pjs) {
                        pjs.resizeSketch(window.innerWidth, window.innerHeight);
                    }
                } );
            })
            

        script(src="/scripts/vendor/jquery.pjax.js")
        script.
            $(function() {
                if ($.support.pjax) {
                    var container = $("#main");

                    //$(document).on('click', 'a[data-pjax]', function(evt) {
                    $(document).on('click', 'a', function(evt) {
                        console.log($(this).attr("href"));
                        if ( $(this).attr("href").toLowerCase().indexOf("http") === 0 
                            || $(this).data("pjax") === "no") {
                            return true;
                        }
                        $("#main").fadeOut(250, function() {
                            $.pjax.click(evt, {
                                container: container,
                                "fragment": "#main",
                                "timeout": 3000
                            });
                        });
                        return false;

                    });

                    $(document).on('pjax:complete', function() {
                       $("#main").fadeIn(250);
                    });
                    
                    /*
                    $(document).on('pjax:timeout', function(event) {
                        // Prevent default timeout redirection behavior
                        event.preventDefault();
                        
                        console.log("pjax timeout");
                        return false;
                    });
                    
                    $(document).on('pjax:error', function(event) {
                        // Prevent default timeout redirection behavior
                        event.preventDefault();
                        
                        console.log("pjax error");
                        return false;
                    });
                    */
                }
            });

        script.
            $(function() {
                // Sticky Footer Foundation fix
                // via https://gist.github.com/spilliams/2697774
                var stickyFooter = function() {
                    $(".footer, .push").height($(".footer .row").height()+"px");
                    $("#wrapper").css({'margin-bottom':(-1*$(".footer .row").height())+"px"});
                }
                window.onresize = stickyFooter;
            });
            
</html>
