<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

head
    block head
        meta(charset='utf-8')
        meta(name="description", content=locals.description)
        meta(name="author", content=locals.owner)
        meta(name="viewport", content="width=device-width")

        title
            block title
                = locals.title

        link(rel="icon", type="image/x-icon", href="/favicon.ico")
        
       
        // 
            | Site last generated on the 
            = moment().format('Do [of] MMMM, YYYY.')

            
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/4.3.1/css/foundation.min.css')
        link(rel='stylesheet', href='/styles/v4.css')

        //- TODO: remove unused fonts...
        link(rel='stylesheet', type='text/css' href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Quattrocento+Sans:400,400italic,700,700italic|Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic')
        
        script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.1/processing.min.js")

            
- var bodyClass = page.metadata.bodyClass || "";
block localVars

body(class="#{bodyClass}")

    nav.top-bar(data-options="scrolltop:false").show-for-small
        ul.title-area
            li.name
                h1: a(href="/") jessefulton.com
            li.toggle-topbar.menu-icon: a(href="javascript:void(0)" data-pjax="no"): span Menu
        secion.top-bar-section
            ul.left
                li.divider
                li: a(href="/portfolio/", data-pjax) All
                li.divider
                li: a(href="#section-about", data-pjax="no") About
                li.divider
                li: a(href="#section-contact", data-pjax="no") Contact
                li.divider
                
    #wrapper
    
        div#canvas-container
            canvas(width="100%", height="100%", id="static-canvas", style="width:90%;height:100%;", data-processing-sources="/scripts/static.pde")

        .row(style="margin-left:0;")
            #nav.large-3.columns.hide-for-small
                h1: a(href="/") jessefulton.com

                ul.side-nav
                    li.divider
                    li: a(href="/", data-pjax) Featured Work
                    li: a(href="/portfolio/", data-pjax) All Projects
                    //-
                        li: a(href="/portfolio/tag/digital/", data-pjax) Digital
                        li: a(href="/portfolio/tag/physical/", data-pjax) Physical
                        li: a(href="/portfolio/tag/performance/", data-pjax) Performance
                        li: a(href="/portfolio/tag/web/", data-pjax) Web
                        li: a(href="/portfolio/tag/art/", data-pjax) Art
                        li: a(href="/portfolio/tag/software/", data-pjax) Software
                        li: a(href="/portfolio/tag/hardware/", data-pjax) Hardware
                        li: a(href="/portfolio/tag/mobile/", data-pjax) Mobile
                        li: a(href="/portfolio/tag/research/", data-pjax) Research
                    li: a(href="/thesis/", data-pjax="no", title="DANM MFA Thesis") MFA Thesis
                    li: a(href="http://www.google.com/recaptcha/mailhide/d?k=01aYxFPWtuAKCOp9PE2ZwnuA==&amp;c=tffQd1_HmEeNZW9FtjAzBum7SyX5nK-FMswbWQEQBh8=", onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501aYxFPWtuAKCOp9PE2ZwnuA\75\75\46c\75tffQd1_HmEeNZW9FtjAzBum7SyX5nK-FMswbWQEQBh8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;") Contact

    
            #main.large-9.columns
                block content
                    p ...

        .push
            
    footer.footer
        .row(style="margin-left:0;")
            .large-2.columns.hide-for-small
                p(style="text-align:right")
                    img(src="/styles/images/name-pixels-com.png", width="126px", height="268px")
            #section-about.large-4.large-offset-1.columns
                h3 About
                p.
                    I am a Creative Technologist in the purest sense. I have 10+ years of software development experience as well as having exhibited and performed as an artist. I have a very technical background but apply it to creative pursuits including physical computing, projection, and experiential design.
                p.
                    For info about my work history, check out my <a href="/media/resume/jessefulton-resume.pdf" data-pjax="no">CV</a> or <a href="http://linkedin.com/in/jessefulton">LinkedIn profile</a>.
                    
            #section-contact.large-4.large-offset-1.columns
                .row
                    .columns
                        h3 Contact
                        p
                            | I am currently available and willing to travel for freelance 
                            | and consulting opportunities. Please visit
                            | <a href="http://eklekt.com">eklekt.com</a> for more information or 
                            | <a href="http://www.google.com/recaptcha/mailhide/d?k=01aYxFPWtuAKCOp9PE2ZwnuA==&amp;c=tffQd1_HmEeNZW9FtjAzBum7SyX5nK-FMswbWQEQBh8=", onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501aYxFPWtuAKCOp9PE2ZwnuA\75\75\46c\75tffQd1_HmEeNZW9FtjAzBum7SyX5nK-FMswbWQEQBh8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">email me</a>.


                .row
                    .columns
                        h3 Meta
                        
                        ul.small-block-grid-8
                            li: a(href="http://linkedin.com/in/jessefulton"): img(src="/media/images/icons/linkedin.png")
                            li: a(href="https://github.com/jessefulton"): img(src="https://identicons.github.com/jessefulton.png")
                            li: a(href="https://delicious.com/jfulton"): img(src="/media/images/icons/delicious.png")
                            li: a(href="http://instagram.com/theswa"): img(src="/media/images/icons/instagram.png")
                            li: a(href="https://vimeo.com/jessefulton"): img(src="/media/images/icons/vimeo.png")
                            li: a(href="http://www.flickr.com/photos/jessefulton"): img(src="/media/images/icons/flickr.png")
                            li: a(href="https://twitter.com/jessefulton"): img(src="/media/images/icons/twitter.png")
                            li: a(href="http://blog.jessefulton.com"): img(src="/media/images/icons/tumblr.png")

                
    block scripts
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1024545-5']);
            _gaq.push(['_setDomainName', 'jessefulton.com']);
            _gaq.push(['_trackPageview']);
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.3.1/js/foundation.min.js")
        script(src="/scripts/vendor/jquery.mixitup.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.7.0/jquery.pjax.min.js")
        script(src="/scripts/init.js")
            
</html>
