extends layout

block title
    = page.metadata.title + " | " + locals.title

block localVars
    - bodyClass = "portfolio"


block content
    include mixins


    - var projects = _.chain(contents.portfolio._.directories).map(function (item) {
    -         var obj = (item["index.md"] || item["index.json"]);
    -         if (obj && obj.metadata && !obj.metadata.template) {
    -             // strip out the pages with no template specified
    -             obj = null;
    -         }
    -         return obj;
    -     }).compact().sortBy(function (descr) {
    -         var dateStr = descr.metadata.date.toString();
    -         var startDate = parseInt(dateStr.split("--")[0], 10);
    -         var endDate = parseInt(dateStr.split("--")[1], 10) || 0;
    - console.log(dateStr + " : " + startDate + ", " + (endDate/1000.0));
    -         return -1 * (startDate + (endDate*.00001));
    -         //return -1;
    -         //return page.metadata.ordering.indexOf(descr.metadata.id);
    -     }).value();


    .row
        row.columns
            .large-12
                .breadcrumbs portfolio

                
            each proj in projects
                .large-12.project-preview
                    +projectPreview(proj)
