extends layout

block title
    = page.metadata.title + " | " + locals.title

block localVars
    - bodyClass = "portfolio project"

block append head
    //- link(rel='stylesheet', href='/style/index.css')

block content
    include mixins
    
    
    .row
        row.columns
            .large-12
                .breadcrumbs
                    a(id="breadcrumbs-present-and-future", data-pjax, href="/portfolio/") portfolio
                    span #{page.title}

            .large-12.content
                +projectHeader()
                +projectMedia()
                +projectDescription()