extends layout

block title
    = page.metadata.title + " | " + locals.title

block localVars
    - bodyClass = "portfolio project"

block append head
    //- link(rel='stylesheet', href='/style/index.css')

block content
    include mixins
    
    
    - var related = _.chain(contents.portfolio._.directories).map(function (item) {
    -         var obj = (item["index.md"] || item["index.json"]);
    -         if (obj && obj.metadata && !obj.metadata.template) {
    -             // strip out the pages with no template specified
    -             obj = null;
    -         }
    -         if (obj == page) { obj = null; }
    -         return obj;
    -     }).compact().sortBy(function (item) {
    -         var overlap = _.intersection(page.metadata.tags, item.metadata.tags);
    -         return -1 * overlap.length;
    -     }).first(3).value();


    
    .row
        row.columns
            .large-12
                .breadcrumbs
                    a(id="breadcrumbs-present-and-future", data-pjax, href="/portfolio/") portfolio
                    span #{page.title}

            .large-12.content
                +projectHeader()
                +projectMedia()
                +projectDescription()
