extends layout

block title
    = page.metadata.title + " | " + locals.title

block localVars
    - bodyClass = "portfolio project"

//
  block append head
    link(rel='stylesheet', href='/style/index.css')

block content
    include mixins
    
    .breadcrumbs
        a(id="breadcrumbs-present-and-future", href="/portfolio/") portfolio
        span  &gt; #{page.title}

    .content.row
        +projectHeader()
        +projectMedia()
        +projectDescription()