doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='en', xml:lang='en')
head
    meta(http-equiv='content-type', content='text/html;charset=utf-8')
    title waxing philosophical
    style(type='text/css', media='screen', src="/styles/thesis.css")
    
    script(type='text/javascript', src='/scripts/vendor/jquery.js')
    script(type='text/javascript', src='/scripts/processing-js/processing.js')
body
    #stuff
                
        p: a(href='http://webpagesforhumans.com/', title='Webpages for Humans') Webpages for Humans
        p: a(href='http://everybodysgoogle.com/', title='Everybody\'s Google') Everybody's Google
        p: a(href='thesis.pdf', title='MFA Thesis Draft') Words
        // http://www.youtube.com/watch?v=Ppvm2enNnRg
        // http://www.youtube.com/watch?v=S4GcwPhwwJk
        // http://danm.ucsc.edu/MFA_2012/Everybody%27s-Google-and-OCR
        p.ext: a(href='/', title='Jesse Fulton') jessefulton.com

    canvas#static-canvas(width='100%', height='100%', style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:0;", data-processing-sources="background.pde")
       
    script.
        //-
            $(window).resize(function() {
                var pjs = Processing.getInstanceById('static-canvas');
                pjs.setup();
            } );
